@import "tailwindcss";

/* =========================
   LIGHT THEME
========================= */

:root {
  --background: #fafafc;
  --surface: #ffffff;
  --card: #ffffff;
  --card-hover: #f4f4f5;

  --text-primary: #18181b;
  --text-secondary: #52525b;
  --text-muted: #71717a;

  --border: #e4e4e7;

  --primary: #7c5cff;
  --primary-hover: #6d4eff;
}

/* =========================
   DARK THEME
========================= */

.dark {
  /* Overall App Layout Background */
  --background: #0d0f1a;

  /* Sidebar, Main Content Cards, and Container Panels */
  --surface: #131522;
  --card: #2e3250;
  --card-light: #41476d;
  --card-hover: #2d366b;
  --card-active: #4f5580;
  --dropdown: #1a1d2e;

  /* Interactive Elements (Unselected Tabs/Buttons, Toggle Track) */
  --input: #191b2a;
  --border: #363845;
  --border-light: #4e536e;

  /* Typography */
  --text-primary: #e5edf7;    /* Crisp, slightly off-white */
  --text-secondary: #bbc6d8;  /* Muted slate blue for secondary text/labels */
  --text-muted: #8ca2c2;      /* Darker slate for inactive menu icons */

  /* Accents (The Vibrant Purple/Indigo) */
  --primary: #7f38f0;         /* Timer ring, Active Sidebar/Tabs, Buttons */
  --primary-hover: #413398;
  --subtle-hover: #514b79;
  --primary-glow: #705cf62b;  /* Transparent variation for active menu backgrounds */

  /* Secondary Accent (Status/Alerts) */
  --accent-orange: #f59e0b;   /* Used for the small session dot indicators */

  /* Timer color*/
  --focus-ring: #7f38f0;
  --focus-ring-bg: #3a2d63;
  --focus-card: #2e3250;


  --break-ring: #4fd1c5;
  --break-card: #22343a;
  --break-ring-bg: #214d49;

  --long-break-ring: #fbbf24;
  --long-break-ring-bg: #5b4720;
  --long-break-card: #393226;
}

/* =========================
   CUSTOM UTILITIES
========================= */

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .bg-dropdown {
    background-color: var(--dropdown);
  }
  
  .bg-surface {
    background-color: var(--surface);
  }

  .bg-card {
    background-color: var(--card);
  }

  .bg-card-light {
    background-color: var(--card-light);
  }

  .bg-card-hover {
    background-color: var(--card-hover);
  }

  .hover\:bg-card-hover:hover {
    background-color: var(--card-hover);
  }

  .active\:bg-card-active:active {
    background-color: var(--card-active);
  }


  .bg-input {
    background-color: var(--input);
  } 

  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .text-muted {
    color: var(--text-muted);
  }

  .border-border {
    border-color: var(--border);
  }
  .border-border-light {
    border-color: var(--border-light);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .bg-primary-hover:hover {
    background-color: var(--primary-hover);
  }

  .bg-subtle-hover:hover {
    background-color: var(--subtle-hover);
  }
}